<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Timestamp Microservice</h1>
        <h2>Expected Input</h2>
        <p>[you can click on links]</p>
        <a href="https://1-timestamp-microservice-fcc-ivan.glitch.me/May, 3 2015">https://1-timestamp-microservice-fcc-ivan.glitch.me/May, 3 2015</a>
        <br>
        <a href="https://1-timestamp-microservice-fcc-ivan.glitch.me/1436259875">https://1-timestamp-microservice-fcc-ivan.glitch.me/1436259875</a>
        <br>
        <p>or (incorrect input):</p>
        <a href="https://1-timestamp-microservice-fcc-ivan.glitch.me/143hjd9875">https://1-timestamp-microservice-fcc-ivan.glitch.me/143hjd9875</a>
        <h2>Expected Output</h2>
        <div class="output_example">
          <pre>
{
  "natural": "July, 7 2015",
  "unix": 1436259875
}
          </pre>
        </div>

        <p>or (for incorrect input):</p>

        <div class="output_example">
          <pre>
{
  "natural": null,
  "unix": null
}
          </pre>
        </div>
        <h2>GitHub Repo: <a href="#">LINK</a></h2>
      </div>
   </body>

</html>